In [1]:
import pandas as pd
from matplotlib import pyplot as plt
d = pd.read_csv('CYP2D6_haplotypes.csv')
d = d.drop(columns=['ReferenceSequence', 'Variant Stop', 'Type'])
d

,Haplotype,Gene,rsID,Variant Start,Reference Allele,Variant Allele
0,CYP2D6*1,CYP2D6,NaN,.,NaN,NaN
1,CYP2D6*1.001,CYP2D6,rs28633410,42527471,T,C
2,CYP2D6*1.001,CYP2D6,rs12169962,42522312,T,C
3,CYP2D6*1.001,CYP2D6,rs1135840,42522613,G,C
4,CYP2D6*1.001,CYP2D6,rs751850551,42523003,A,G
...,...,...,...,...,...,...
5894,CYP2D6*145.001,CYP2D6,rs28369142,42529540,C,A
5895,CYP2D6*145.001,CYP2D6,rs28579115,42530826,G,T
5896,CYP2D6*145.001,CYP2D6,rs12169962,42522312,T,C
5897,CYP2D6*145.001,CYP2D6,rs1135840,42522613,G,C
5898,CYP2D6*145.001,CYP2D6,rs751850551,42523003,A,G

In [2]:
filtered = d.loc[(d['Haplotype'] == 'CYP2D6*4.001') | (d['Haplotype'] == 'CYP2D6*4.002') | (d['Haplotype'] == 'CYP2D6*4.006') | (d['Haplotype'] == 'CYP2D6*4.007') | (d['Haplotype'] == 'CYP2D6*4.008') | (d['Haplotype'] == 'CYP2D6*4.009') | (d['Haplotype'] == 'CYP2D6*4.012') | (d['Haplotype'] == 'CYP2D6*4.013') | (d['Haplotype'] == 'CYP2D6*4.014') | (d['Haplotype'] == 'CYP2D6*4.015') | (d['Haplotype'] == 'CYP2D6*4.016') | (d['Haplotype'] == 'CYP2D6*4.017') | (d['Haplotype'] == 'CYP2D6*4.018') | (d['Haplotype'] == 'CYP2D6*4.019') | (d['Haplotype'] == 'CYP2D6*4.020') | (d['Haplotype'] == 'CYP2D6*4.021') | (d['Haplotype'] == 'CYP2D6*4.022') | (d['Haplotype'] == 'CYP2D6*4.023') | (d['Haplotype'] == 'CYP2D6*4.024') | (d['Haplotype'] == 'CYP2D6*4.025') | (d['Haplotype'] == 'CYP2D6*4.026') | (d['Haplotype'] == 'CYP2D6*4.027') | (d['Haplotype'] == 'CYP2D6*4.028') | (d['Haplotype'] == 'CYP2D6*4.029') | (d['Haplotype'] == 'CYP2D6*4.030')| (d['Haplotype'] == 'CYP2D6*12.002') | (d['Haplotype'] == 'CYP2D6*28.001') | (d['Haplotype'] == 'CYP2D6*29.001') | (d['Haplotype'] == 'CYP2D6*36.001') | (d['Haplotype'] == 'CYP2D6*36.002') | (d['Haplotype'] == 'CYP2D6*36.003') | (d['Haplotype'] == 'CYP2D6*37.001') | (d['Haplotype'] == 'CYP2D6*46.001') | (d['Haplotype'] == 'CYP2D6*46.002')| (d['Haplotype'] == 'CYP2D6*46.003')| (d['Haplotype'] == 'CYP2D6*47.001')| (d['Haplotype'] == 'CYP2D6*49.001') | (d['Haplotype'] == 'CYP2D6*52.001') | (d['Haplotype'] == 'CYP2D6*52.002') | (d['Haplotype'] == 'CYP2D6*53.001') | (d['Haplotype'] == 'CYP2D6*54.001') | (d['Haplotype'] == 'CYP2D6*56.002') | (d['Haplotype'] == 'CYP2D6*56.003') | (d['Haplotype'] == 'CYP2D6*57.001') | (d['Haplotype'] == 'CYP2D6*64.001') | (d['Haplotype'] == 'CYP2D6*70.001') | (d['Haplotype'] == 'CYP2D6*72.001') | (d['Haplotype'] == 'CYP2D6*81.001') | (d['Haplotype'] == 'CYP2D6*82.001') | (d['Haplotype'] == 'CYP2D6*83.001') | (d['Haplotype'] == 'CYP2D6*83.002') | (d['Haplotype'] == 'CYP2D6*83.003') | (d['Haplotype'] == 'CYP2D6*86.001') | (d['Haplotype'] == 'CYP2D6*87.001') | (d['Haplotype'] == 'CYP2D6*94.001') | (d['Haplotype'] == 'CYP2D6*94.002') | (d['Haplotype'] == 'CYP2D6*95.001') | (d['Haplotype'] == 'CYP2D6*99.001') | (d['Haplotype'] == 'CYP2D6*103.001') | (d['Haplotype'] == 'CYP2D6*108.001') | (d['Haplotype'] == 'CYP2D6*114.001') | (d['Haplotype'] == 'CYP2D6*120.001') | (d['Haplotype'] == 'CYP2D6*121.001') | (d['Haplotype'] == 'CYP2D6*127.001') | (d['Haplotype'] == 'CYP2D6*132.001') | (d['Haplotype'] == 'CYP2D6*141.001') | (d['Haplotype'] == 'CYP2D6*142.001') | (d['Haplotype'] == 'CYP2D6*143.001')]

In [ ]:
data.reset_index(drop = True, inplace = True)
data

In [ ]:
filtered = data.loc[(data['Variant Start'] == '41594450') | (data['Variant Start'] == '41597751') | (data['Variant Start'] == '41600168')]

In [ ]:
filtered

In [3]:
filtered.to_csv('CYP2A13_variants.csv')